<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../style/output.css" rel="stylesheet" />
    <link href="../style/index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <header
      class="bg-primary shadow-2xl flex krona text-3xl justify-between px-7 py-4.5 items-center text-white md:hidden"
    >
      <img
        id="home-btn"
        class="size-12 cursor-pointer"
        src="../assets/icons/school-icon.svg"
        alt=""
      />

      <h1 id="home-btn" class="cursor-pointer">MyRi Clinic</h1>

      <img
        id="menu-btn"
        class="z-20 size-9 cursor-pointer invert"
        src="../assets/icons/menu-icon.svg"
        alt="menu-btn"
      />
    </header>

    <nav
      id="SideBar"
      class="translate-x-[230px] drop-shadow-2xl md:drop-shadow-none h-dvh md:translate-x-0 fixed duration-500 right-0 top-[-16px] md:top-0 md:left-0 md:block"
    >
      <main
        class="grid text-white h-[70%] grid-rows-[100px_1fr_60px] md:sm:w-24 lg:w-72 md:h-dvh xl:lg:w-82"
      >
        <section
          class="row-start-1 invisible md:visible cursor-pointer shadow-2xl bg-secondary flex items-center justify-center text-2xl krona"
        >
          <img
            class="md:block size-12 lg:hidden"
            src="../assets/icons/school-icon.svg"
            alt="school-img"
          />
          <h1 class="md:hidden lg:block">MyRi Clinic</h1>
        </section>
        <section
          class="poppins uppercase row-start-2 bg-primary flex gap-y-3 flex-col px-3 py-4 text-2xl"
        >
          <a
            class="flex gap-x-4 px-3.5 py-3.5 leading-6 hover:bg-[#ffffff1f] rounded-lg md:flex md:justify-center lg:justify-start"
            href=""
            ><img src="../assets/icons/visit-icon.svg" alt="visitor-icon" />
            <p class="text-[20px] md:hidden lg:block">visitor</p>
          </a>
          <a
            class="flex gap-x-4 px-3.5 py-3.5 leading-6 hover:bg-[#ffffff1f] rounded-lg md:flex md:justify-center lg:justify-start"
            href=""
            ><img src="../assets/icons/history-icon.svg" alt="history-icon" />
            <p class="text-[20px] md:hidden lg:block">visit history</p>
          </a>
          <a
            class="flex gap-x-4 px-3.5 py-3.5 leading-6 hover:bg-[#ffffff1f] rounded-lg md:flex md:justify-center lg:justify-start"
            href=""
            ><img src="../assets/icons/stud-icon.svg" alt="inforamation-icon" />
            <p class="text-[20px] md:hidden lg:block">student info</p>
          </a>
        </section>
        <section
          class="rounded-bl-2xl md:rounded-none row-start-3 bg-secondary poppins uppercase px-5 py-3.5 flex text-2xl w-full items-center gap-x-5"
        >
          <a
            id="logout-btn"
            class="flex gap-x-4 px-3.5 py-3.5 leading-6 rounded-lg md:flex md:justify-center lg:justify-start"
            href="../pages/index.html"
            ><img src="../assets/icons/exit-icon.svg" alt="inforamation-icon" />
            <p class="text-[20px] md:hidden lg:block">logout</p>
          </a>
        </section>
      </main>
    </nav>
  </body>
  <script src="../script/navbar.js"></script>
</html>
