<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyRI Clinic</title>
    <link href="../style/output.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="flex items-center justify-center w-lvw h-lvh">
    <h1 class="krona primary-bg py-5 text-white text-6xl">myRI Clinic</h1>
    <button
      class="poppins rounded-lg p-5 flex gap-x-5 text-2xl poppins border-1 text-white primary-bg"
    >
      Submit
      <img src="../assets/icons/check-icon.svg" alt="" />
    </button>
  </body>
</html>
