<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../style/output.css" rel="stylesheet" />
    <link href="../style/index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Medical Form</title>
  </head>
  <body>
    <section class="md:sm:ml-24 lg:ml-72 md:h-dvh xl:lg:ml-82">
      <section class="relative py-7.5 pt-12">
        <h1 class="krona uppercase bg-white ml-12 px-5 inline z-20 text-4xl">
          Medical form
        </h1>
        <hr class="absolute z-[-1] w-full top-17" />
      </section>
<!-- Userinput here full name birth day ........ -->
      <section class="relative py-7.5 pt-12">
        <h1 class="krona uppercase bg-white ml-12 px-5 inline z-20 text-lg">
          STUDENT MEDICAL HISTORY
        </h1>
        <hr class="absolute z-[-1] w-full top-15" />
      </section>
    </section>
  </body>
</html>
