<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../style/output.css" rel="stylesheet" />
    <link href="../style/index.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <main>
        <section class="md:sm:ml-24 lg:ml-72 md:h-dvh xl:lg:ml-82 uppercase">
            <section class="relative mt-10">
                <h1 class="krona text-4xl inline px-5 bg-white z-[10] ml-10"> Student list </h1>
                <hr class="absolute w-full top-[20px] z-[-1]">
            </section>
            <section class="w-[500px] relative mt-[30px] uppercase flex gap-7">
                <h1 class="poppins text-[20px] absolute top-[-15px] left-[15px] bg-white px-2.5">Student Name</h1>
                <input class="border-1 px-[10px] py-[8px] w-full rounded-lg" type="text"/>
                <button class="bg-[#06118e] text-white poppins uppercase flex gap-2.5 px-10 py-2.5 rounded-lg"> <p>Search</p> <img src="../assets/icons/search-icon.svg"></button>
            </section>
            <hr class="w-full z-[-1] mt-[80px]">
        </section>
       
    </main>
</body>
</html>